# Projeto 1 - Ciência dos Dados

Nome: Pedro Henrique

Nome: Vitor Katakura

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [2015]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2016]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\PH\Desktop\Repositorios\cdados-p1

Carregando a base de dados com os tweets classificados manualmente:

In [2017]:
train = pd.read_excel('dados_treino.xlsx')
train.head(5)

,Mensagem,Target,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"Bem, eu nem sei por onde começar. A história é...",2,NaN,NaN,NaN
1,"Não gostei!, acabou com a expectativa que os o...",2,NaN,LEGENDA,NaN
2,"Venho por meio deste, expressar meu desapontam...",1,NaN,1,Problemas com a Amazon
3,"O começo do livro é bastante interessante, qun...",2,NaN,2,Comentarios sobre o livro
4,Veder essa porcaria como se fosse História é u...,2,NaN,3,Outros

In [2018]:
test = pd.read_excel('dados_teste.xlsx')
test.head(5)

,Mensagem,Target,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,O livro fala de um contexto bastante interessa...,2,NaN,NaN,NaN
1,Estava muito empolgada com 90% do livro. As co...,2,NaN,LEGENDA,NaN
2,"História maluca e que não te leva a nada, uma ...",2,NaN,1,Problemas com a Amazon
3,"O autor tenta mostrar outro lado do livro, bus...",2,NaN,2,Comentarios sobre o livro
4,"Maçante, fantasioso. Uma ficção vista pelo ret...",2,NaN,3,Outros

___
## Classificador automático

Faça aqui uma descrição do seu assunto e o que considerou como relevante ou não relevante na classificação dos tweets (Target).

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [2019]:
legenda = {'Problemas com a Amazon': 1, 'Problemas com o Livro': 2, 'Outros': 3}

In [2020]:
train = train.loc[:,['Mensagem', 'Target']]
test = test.loc[:,['Mensagem', 'Target']]
train

                                              Mensagem  Target
0    Bem, eu nem sei por onde começar. A história é...       2
1    Não gostei!, acabou com a expectativa que os o...       2
2    Venho por meio deste, expressar meu desapontam...       1
3    O começo do livro é bastante interessante, qun...       2
4    Veder essa porcaria como se fosse História é u...       2
..                                                 ...     ...
295  Achei que o livro deu mais ênfase ao sexo do q...       2
296  Não recomendo. Honestamente não recomendo. O c...       2
297  depois de fazer o pedido que vi que era pocket...       1
298  A personagem principal parece sofrer de uma es...       2
299  É um daqueles livros de leitura rápida. Achei ...       2

[300 rows x 2 columns]

In [2021]:
import re 

def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = r'[\`\"\!\-\.\:\?\;\$\'\,]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    text_subbed = text_subbed.lower()
    return text_subbed

In [2022]:
train['Mensagem'] = train['Mensagem'].apply(cleanup)

In [2023]:
train

                                              Mensagem  Target
0    bem eu nem sei por onde começar a história é a...       2
1    não gostei acabou com a expectativa que os out...       2
2    venho por meio deste expressar meu desapontame...       1
3    o começo do livro é bastante interessante qund...       2
4    veder essa porcaria como se fosse história é u...       2
..                                                 ...     ...
295  achei que o livro deu mais ênfase ao sexo do q...       2
296  não recomendo honestamente não recomendo o con...       2
297  depois de fazer o pedido que vi que era pocket...       1
298  a personagem principal parece sofrer de uma es...       2
299  é um daqueles livros de leitura rápida achei b...       2

[300 rows x 2 columns]

In [2024]:
train['Mensagem'] = train['Mensagem'].astype('category')
train['Target'] = train['Target'].astype('category')

train['Target'] = train['Target'].cat.rename_categories(['Problemas com a Amazon', 'Problemas com o Livro', 'Outros'])
train.Target

0       Problemas com o Livro
1       Problemas com o Livro
2      Problemas com a Amazon
3       Problemas com o Livro
4       Problemas com o Livro
                ...
295     Problemas com o Livro
296     Problemas com o Livro
297    Problemas com a Amazon
298     Problemas com o Livro
299     Problemas com o Livro
Name: Target, Length: 300, dtype: category
Categories (3, object): ['Problemas com a Amazon', 'Problemas com o Livro', 'Outros']

In [2025]:
P_targets = train.Target.value_counts(normalize=True)
P1 = P_targets[0]
P2 = P_targets[1]
P3 = P_targets[2]

In [2026]:
train_palavras = []
train_split = train['Mensagem'].str.split()
for palavra in train_split:
    train_palavras.extend(palavra)

train_palavras = pd.Series(train_palavras)
# train_palavras = train_palavras.unique()
# train_palavras = pd.Series(train_palavras)

In [2027]:
train1 = train.loc[train.Target == list(legenda)[0], ["Mensagem"]]
train_palavras1 = []
train_split1 = train1['Mensagem'].str.split()
for palavra in train_split1:
    train_palavras1.extend(palavra)

train_palavras1 = pd.Series(train_palavras1)
# train_palavras1 = pd.concat([train_palavras1, train_palavras], ignore_index=True)

train_palavras1_fr = train_palavras1.value_counts(normalize=True)

In [2028]:
train2 = train.loc[train.Target == list(legenda)[1], ["Mensagem"]]
train_palavras2 = []
train_split2 = train2['Mensagem'].str.split()
for palavra in train_split2:
    train_palavras2.extend(palavra)

train_palavras2 = pd.Series(train_palavras2)
# train_palavras2 = pd.concat([train_palavras2, train_palavras], ignore_index=True)

train_palavras2_fr = train_palavras2.value_counts(normalize=True)

In [2029]:
train3 = train.loc[train.Target == list(legenda)[2], ["Mensagem"]]
train_palavras3 = []
train_split3 = train3['Mensagem'].str.split()
for palavra in train_split3:
    train_palavras3.extend(palavra)

train_palavras3 = pd.Series(train_palavras3)
# train_palavras3 = pd.concat([train_palavras3, train_palavras], ignore_index=True)
train_palavras3_fr = train_palavras3.value_counts(normalize=True)

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [2030]:
test['Mensagem'] = test['Mensagem'].apply(cleanup)

In [2031]:
test['Mensagem'] = test['Mensagem'].astype('category')
test['Target'] = test['Target'].astype('category')

test['Target'] = test['Target'].cat.rename_categories(['Problemas com a Amazon', 'Problemas com o Livro', 'Outros'])
test.Target
test['Algoritmo'] = 0

In [2032]:
test_split = test['Mensagem'].str.split()
for frase in range(len(test_split)):
    P_frase_1 = 1
    P_frase_2 = 1
    P_frase_3 = 1
    for palavra in test_split[frase]:
        try:
            P_frase_1 *= train_palavras1_fr[palavra]
        except KeyError:
            palavra_erro = pd.Series(palavra)
            train_palavras1 = pd.concat([train_palavras1, palavra_erro], ignore_index=True)
            train_palavras1_fr = train_palavras1.value_counts(normalize=True)
        try:    
            P_frase_2 *= train_palavras2_fr[palavra]
        except KeyError:
            palavra_erro = pd.Series(palavra)
            train_palavras2 = pd.concat([train_palavras2, palavra_erro], ignore_index=True)
            train_palavras2_fr = train_palavras2.value_counts(normalize=True)
        try:
            P_frase_3 *= train_palavras3_fr[palavra]
        except KeyError:
            palavra_erro = pd.Series(palavra)
            train_palavras3 = pd.concat([train_palavras3, palavra_erro], ignore_index=True)
            train_palavras3_fr = train_palavras3.value_counts(normalize=True)
    P_frase_1 *= P1
    P_frase_2 *= P2
    P_frase_3 *= P3
    if P_frase_1 > P_frase_2 and P_frase_1 > P_frase_3:
        test['Algoritmo'][frase] = 'Problemas com a Amazon'
    elif P_frase_2 > P_frase_1 and P_frase_2 > P_frase_3:
        test['Algoritmo'][frase] = 'Problemas com o Livro'
    elif P_frase_3 > P_frase_1 and P_frase_3 > P_frase_2:
        test['Algoritmo'][frase] = 'Outros'
    else:
        test['Algoritmo'][frase] = 'Erro'

C:\Users\PH\AppData\Local\Temp\ipykernel_8676\1287724390.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Algoritmo'][frase] = 'Outros'

In [2033]:
pd.crosstab(test.Algoritmo, test.Target)

Target                  Problemas com a Amazon  Problemas com o Livro  Outros
Algoritmo
Erro                                         1                     10       1
Outros                                      18                     37      10
Problemas com a Amazon                      13                     54       7
Problemas com o Livro                        7                     32      10

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CONSIDEROU mais de duas categorias na variável Target e INCREMENTOU a quantidade de notícias, mantendo pelo menos 250 notícias por categoria (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* Para Target com duas categorias: CRIOU pelo menos quatro categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto (pelo menos dois cenários, exceto aqueles já apresentados em sala pelos professores: por exemplo, filtro de spam)
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item Qualidade do Classificador a partir de novas separações das Notícias entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**